

# BEGIN Rewrite
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
#RewriteRule ^index\.php$ - [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /index.php [L]
RewriteRule    ^([A-Za-z0-9-]+)/?$    index.php?q=$1
</IfModule>

# END Rewrite

