<?xml version="1.0"?>
<configuration>
   <system.webServer>
     <rewrite>
       <rules>
         <rule name="files">
           <match url="^([A-Za-z0-9-]+)/?$"  />
           <action type="Rewrite" url="/index.php?q={R:1}"  />
        </rule>
        <rule name="folder" stopProcessing="true">
          <match url="^([^/]*)/([^/]*)$"  />
          <action type="Rewrite" url="//index.php?f={R:1}&amp;q={R:2}"  />
        </rule>
       </rules>
      </rewrite>
      <httpErrors errorMode="Custom" defaultResponseMode="File" >
         <remove statusCode="404" />
         <error statusCode="404"
            path="/content/404.html" />
       </httpErrors>
   </system.webServer>
</configuration>
